assignment_2/q3/Booklist/*.class
assignment_2/q3/MemberList/*.class
assignment_2/q3/Transaction/*.class
assignment_2/q3/*.class
assignment_2/*.class
assignment_1/*.class
assignment_2/q4/Booklist/*.class
assignment_2/q4/MemberList/*.class
assignment_2/q4/Transaction/*.class
assignment_2/q4/*.class
